<div class="container-fluid">
  <!-- Highest rated product card -->
  <!-- <div class="card mt-3 mb-3">
    <div class="pl-3 pr-3">
      <img
        src="{{ highestRated.image }}"
        alt="{{ highestRated.title }}"
        class="card-img-top"
        style="height: 70vh"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ highestRated.title }}</h5>
      <p class="card-text">{{ highestRated.description }}</p>
      <p class="card-text">$ {{ highestRated.price }}</p>
    </div>
  </div> -->

  <!-- Other products Grid -->
  <div class="main-grid row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card h-100 d-flex flex-column">
        <img
          class="card-img-top"
          src="{{ product.image }}"
          alt="{{ product.title }}"
          srcset=""
          style="height: 60vh"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">$ {{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
