<h1>THIS IS A LIST OF CARS OBTAINED FROM FAKESTORE API</h1>
<button type="button" class="btn btn-primary">Primary</button>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ product.image }}"
          alt="{{ product.title }}"
          srcset=""
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
