<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" style="color: white">STORE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="filter: invert(1); /* Invert the color to white */"

    >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
            >Categories</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Clothing</a></li>
            <li><a class="dropdown-item" href="#">Jewelry</a></li>
            <li><a class="dropdown-item" href="#">Sport</a></li>
            <li><a class="dropdown-item" href="#">Tech</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color: white">DFDF</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
